#customButton {
  padding: 10px 16px;
font-size: 18px;
line-height: 1.33;
border-radius: 6px;
color: #333;
background-color: #fff;
border-color: #ccc;
display: inline-block;
margin-bottom: 0;
font-weight: normal;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;
border: 1px solid;
}