<div class="dogInfo">

    <img class="img-responsive img-border img-full" id="picture" src="{picture}">
    <h4 id="name"> Name: {name}
                        <br>
                        <small id="age"> Age: {age} </small>
                        <br>
                        <small id='gender'>{gender} </small>
                        <br>
                        <small id='description'>{description} </small>
                        </h4>
    <a target="_blank" href="http://www.gbgrr.org/testweb/images/Adoption%20Contract.pdf" class="btn btn-default btn-lg ">Adopt Me</a>
    <hr>

</div>
